@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #14191F;
}

/* Search Bar */
.InputLeft {
  left: 3rem !important;
}

/* Game Title */
.gameTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
}

/* Sort Menu */
.sortMenu {
  padding-left: '1rem'
}